# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# input data, saved log, checkpoints
data/
input/
saved/
external/

# editor, os cache directory
.vscode/

# images, saved data and saved models
*.png
*.pth
*.npy
