# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# input data, saved log, checkpoints
data/
input/
saved/
external/
notebooks/

# editor, os cache directory
.vscode/

# images, saved data and saved models
*.png
*.pth
*.npy
